<div class="tdbpaymentmodal">
    {{#error}}<div class="tdberror">{{.}}</div>{{/error}}
    {{#showIFrame}}<iframe src="{{initsrc}}" id="paygw-tdb-iframe-{{uniqid}}" name="paygw-tdb-iframe-{{uniqid}}" width="500" height="550" frameBorder="0"></iframe>{{/showIFrame}}
</div>
